<div class="container">
    <div>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, facere.</h3>
        <div style="display: flex;justify-content: space-between;">
        <label><a [routerLink]="['../about']" routerLinkActive="router-link-active" >Developer Raman</a></label>
        <label>10-august-2024 10:20AM</label>
    </div>

    </div>

    <img src="assets/img/carousel2.webp" alt="" style="height: 270px !important;" class="img-responsive">
    <p class="blogPharagraph text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, saepe
        perspiciatis, quis nisi hic explicabo
        molestiae laborum iure officia impedit nulla aperiam error odit nihil accusantium numquam minima iusto
        laboriosam sed! Numquam accusamus odit dolorum quae molestiae pariatur architecto atque corporis nulla
        praesentium rerum aperiam, ut hic laborum quas similique unde possimus asperiores. Officiis asperiores aliquam
        accusamus non in unde blanditiis libero vitae laboriosam nobis inventore recusandae deleniti ad provident,
        veritatis a fugiat illum impedit doloremque commodi ea. Laboriosam nemo, aperiam dolor et, neque atque, pariatur
        molestias adipisci amet molestiae dolores. Similique vero qui distinctio unde placeat? Quisquam eius mollitia,
        quod architecto, veniam repellendus, sit sed ullam corrupti doloremque soluta minima ipsum ut cum. Ipsam
        recusandae dolorem veritatis aperiam iure modi. Inventore, modi. Ea expedita, iusto dicta quasi dolorum corporis
        nulla hic voluptatum, iure veniam id doloremque vero possimus explicabo eligendi esse. Dolor cumque quis
        laudantium consectetur modi esse iusto libero adipisci ut quisquam saepe, temporibus, a dolores omnis, debitis
        illum pariatur. Culpa reiciendis esse architecto eaque provident assumenda fugiat eius! Sint animi commodi quos
        ipsum quam, nemo dolor alias soluta repellendus, officiis quia, voluptatum officia. Deserunt, minus facere
        quisquam, veniam tempora laboriosam et quod ex, nesciunt nemo officiis porro.</p>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi non, quam, molestiae vero vel aperiam
        doloremque enim maxime velit aliquam quisquam quae necessitatibus! Doloribus unde provident at maiores quod nam
        molestias dicta praesentium dolor, officiis illo sunt pariatur a sed, nisi quas corporis soluta totam inventore,
        quia consectetur. Perspiciatis, doloremque.
    </p>
</div>